* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
    width: 300px;
}

main {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
}

.cards {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.cards li {
    border: 2px solid #000;
    margin-bottom: 1em;
    margin: 10px;
    padding: 5px;
    height: 95%;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
    /* width: 300px; */
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
    width: 30%;
    margin: 10px;
}

#head1{
    display: flex;
    flex-direction: row;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav{
    width: 100%;
    margin-right: 50px;
}


article{
    width: 100%;
}

@media screen and (max-width:1120px)
{
    main{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
    }
}

@media screen and (max-width:650px)
{
    #head1{
        display: flex;
        flex-direction: column;
    }

    ul{
        justify-content: left;
        display: block;
    }
}
